@tailwind base;
@tailwind components;
@tailwind utilities;

/* Скрытие скроллбара */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari и Opera */
  }
}

html,
body {
  height: 100%;
  width: 100%;
  overscroll-behavior: none; /* Предотвращает bounce-эффект при достижении конца страницы */
  overscroll-behavior-y: none; /* Дополнительно для вертикального скролла */
}

body {
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Hide scrollbars */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
