@tailwind base;
@tailwind components;
@tailwind utilities;

/* Скрытие скроллбара */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari и Opera */
  }
}

html,
body {
  height: 100%;
  width: 100%;
  overscroll-behavior: none; /* Предотвращает bounce-эффект при достижении конца страницы */
  overscroll-behavior-y: none; /* Дополнительно для вертикального скролла */
}

body {
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Hide scrollbars */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Кастомная стрелка для select */
select.appearance-none {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0 center;
  background-size: 12px 8px;
}
